body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*----------- HEADER ------------*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.logo-second-part {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-part {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-header {
  margin-right: 93px;
}

.main-menu,
.contacts-list,
.navigation-list {
  display: flex;
}

.navigation {
  align-items: center;
}

.main-menu {
  align-items: center;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.contacts-list {
  margin-left: auto;
}

.contact-us {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.contact-us:hover,
.contact-us:focus {
  color: #2196f3;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 50px;
}

.nav-item:hover,
.nav-item:focus {
  color: #2196f3;
}

.active {
  color: #2196f3;
}

/* -------------HERO----------------- */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px;
  background-color: #2196f3;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
}

/* -------- ADVANTAGE SECTION ----------- */
.advantages {
  padding-bottom: 0;
}

.advantages-title {
  display: none;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  margin-top: 10px;
}

/* -------------OCCUPATION-------------- */
.occupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.occupation-list {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

/* ---------------TEAM--------------- */
.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-top: 30px;
}

.team-profession {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  padding-bottom: 30px;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

/* --------------FOOTER---------------- */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-style-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.contact-us-footer {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-mail,
.contacts-tel {
  margin-top: 9px;
}

/* -------------PORTFOLIO---------------- */
.works-button-list {
  text-align: center;
}

.works-button-list-item {
  display: inline-block;
  margin-right: 8px;
}

.works-btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  padding: 6px 22px;
  /* margin: 0 auto; */
}

.works-btn:hover,
.works-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-name-type {
  padding: 24px 20px;
  border: 1px solid #eeeeee;
}

.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.work-type {
  margin-top: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.work-item {
  box-sizing: border-box;
  width: 370px;
  margin-bottom: 30px;
}
